.code-container{
    /*width: 50%;*/
    /*position: relative;*/
}

pre, code {
    font-family: monospace, monospace;
}
pre {
    overflow: auto;
}
pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
}

.w{

}

.v{
    background-color: red;
}

.l{
    background-color: green;
}

.f{
    background-color: blue;
}

.d{
    background-color: purple;
}

.c{
    background-color: orange;
}

.n{
    background-color: aquamarine;
}

.s{
    background-color: gold;
}

.e{
    background-color: lightblue;
}

/*variable: 'red',*/
/*list: 'green',*/
/*function: 'blue',*/
/*dictionary: 'purple',*/
/*class: 'orange',*/
/*number: 'aquamarine',*/
/*subscript: 'gold',*/
/*composed_element: 'lightblue'*/