.code-container{
    /*width: 50%;*/
    /*position: relative;*/
}

pre, code {
    font-family: monospace, monospace;
}
pre {
    overflow: auto;
}
pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
}

.variable{
    background-color: cadetblue;
}

.list{
    background-color: greenyellow;
}

.subscript{
    background-color: burlywood;
}

.composed_element{
    background-color: #9dffc4;
}